<nb-layout>
    <nb-layout-column>
        <nb-card>
            <div class="auth-block">
                <h2>Компьютерный клуб "Игромания"</h2>
                <p class="sub-title">Введите свой логин и пароль для доступа</p>

                <form [formGroup]="form" (submit)="onFormSubmit()">
                    <div class="form-group">
                        <label class="label">Логин</label>
                        <input nbInput fullWidth formControlName="login">
                    </div>

                    <div class="form-group">
                        <label class="label">Пароль</label>
                        <input nbInput fullWidth type="password" formControlName="password">
                    </div>

                    <button nbButton fullWidth type="submit" [disabled]="form.invalid">Войти</button>
                </form>
            </div>
        </nb-card>
    </nb-layout-column>
</nb-layout>
