nb-card {
    height: 100%;
    margin: 0;

    h2 {
        text-align: center;
        margin-bottom: -0.6rem;
    }
    
    .sub-title {
        text-align: center;
        color: #afafaf;
    }
    
    .auth-block {
        margin: auto;
        width: 450px;
    }
}
