.computer-name {
    position: relative;

    &:before {
        border-left: 3px solid;
        content: "";
        position: absolute;
        left: -20px;
        top: -7px;
        height: 32px;
    }

    &.status-0 {
        &:before {
            border-left-color: #5de191;
        }
    }

    &.status-1 {
        &:before {
            border-left-color: #f44336;
        }
    }

    &.status-2 {
        &:before {
            border-left-color: #e7e7e7;
        }

        color: #c5c5c5;
    }
}

td {
    padding: 0.3rem 1.25rem !important;
    height: 30px;
    margin: 0;
    font-size: 13px;
}

th {
    font-size: 13px;
}
