<nb-card>
    <nb-card-body>

        <table class="table">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Состояние</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Прошло времени</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of computers"
                [contextMenu]="getContextMenuForComputerListItem(row)"
                [contextMenuSubject]="row"
            >
                <td>
                    <div class="computer-name status-{{row.status}}">
                        {{row.name}}
                    </div>
                </td>
                <td>
                    {{getStatusLabel(row.status)}}
                </td>
                <td>
                    13:30
                </td>
                <td>
                    18:00
                </td>
                <td>
                    01:03:02
                </td>
            </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>

<context-menu #freeComputerContextMenu>
    <ng-template
            contextMenuItem
            let-item
            *ngFor="let action of contextMenuActions.freeComputer"
            (execute)="action.click($event.item)"
            [divider]="action.isDivider"
    >
        <i [attr.class]="action.icon" *ngIf="action.icon"></i>
        <span>{{action.label}}</span>
    </ng-template>
</context-menu>

<context-menu #busyComputerContextMenu>
    <ng-template
            contextMenuItem
            let-item
            *ngFor="let action of contextMenuActions.busyComputer"
            (execute)="action.click($event.item)"
            [divider]="action.isDivider"
    >
        <i [attr.class]="action.icon" *ngIf="action.icon"></i>
        <span>{{action.label}}</span>
    </ng-template>
</context-menu>

<context-menu #offlineComputerContextMenu>
    <ng-template contextMenuItem let-item>
        OFFLINE
    </ng-template>
</context-menu>
