<nb-layout>
    <nb-layout-header subheader>
        <div class="header">
            <div class="computer-club-name">
                Компьютерный клуб "Игромания"
            </div>
            <nb-actions>
                <nb-action icon="fa fa-sign-out-alt" title="Выйти"></nb-action>
            </nb-actions>
        </div>
    </nb-layout-header>

    <nb-sidebar>
        <nb-sidebar-header>
            <nb-user name="Валерий Солдатов" title="Администратор клуба"></nb-user>
        </nb-sidebar-header>
        <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>
