.header {
    display: flex;
    flex: 1;

    .computer-club-name {
        font-size: 24px;
        margin-left: auto;
        font-weight: 300;
    }

    nb-actions {
        margin-left: auto;
    }
}
