@import 'themes';
@import '~@nebular/theme/styles/globals';

@include nb-install() {
    @include nb-theme-global();
}

;
/* You can add global styles to this file, and also import other style files */

.nb-theme-default nb-menu .menu-item .menu-icon {
    font-size: 1.5rem;
    width: 1.5rem;
    margin: 0 1rem 0;
    text-align: center;
    color: #a4abb3;
}

//nb-layout-header {
//  nav {
//    justify-content: flex-end !important;
//  }
//}

.form-group {
    margin-bottom: 2rem;

    .label {
        display: block;
        margin-bottom: .5rem;
    }
}


.table {
    width: 100%;
    border-collapse: collapse;

    th {
        padding: 11px;
    }

    td, th {
        border: 1px solid #e2e2e2;
        overflow: hidden;
    }
}

.ngx-contextmenu .dropdown-menu {
    width: 220px;
    border: solid 1px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    background-color: white;
    list-style: none;
    margin: 0;
    padding-left: 0 !important;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.ngx-contextmenu li {
    display: block;
}

.ngx-contextmenu li:first-child {

}

.ngx-contextmenu a {
    color: #636363;
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    align-items: center;

    i {
        font-size: 1.2rem;
        width: 1.6rem;
        text-align: center;
    }

    span {
        margin-left: 0.5rem;
    }
}

.ngx-contextmenu a:hover {
    background: #f9f9f9;
    color: #000 !important;
}

.ngx-contextmenu .divider {
    border-bottom: 1px solid #d6d6d6;
}
